@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: $font-family;
  background-color: $background-color-light;
  line-height: 1.43;
}


.main-container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 50px;
}

a{
  text-decoration: none;
  color: $text-color;
}